---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
        
        <div
        class="bg-gray-100 w-5/6 h-full mx-auto rounded-lg mt-10 mb-10 py-20 px-56"
        >
        <h1 class="text-3xl font-bold text-black text-center mb-6">Contact Us</h1>
            <div
                class="block rounded-3xl bg-gray-900"
            >
            
                <form class="mx-auto py-16 block items-center px-36">
                        <div class="mb-6">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-100">Your email</label>
                            <input type="email" id="email" class="w-full rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-[var(--ten)]" placeholder="thestrongest@gym.com" required>
                        </div>
        
                        <div class="mb-6">
                            <label for="message" class="block mb-2 text-sm font-medium text-gray-100">Your message</label>
                            <textarea id="message" rows="5" class="w-full h-20 rounded-md border-0 bg-white/5 px-3.5 py-2 min-h-20 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-[var(--ten)]" placeholder="Your message here..." required></textarea>
                        </div>
        
                        <button type="submit" class="text-gray-900 font-bold bg-[var(--ten)] duration-300 ease-in-out hover:opacity-80 focus:ring-4 focus:outline-none rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
                </form>
            </div>
        
        <style>
            h1 {
                font-size: 2rem;
            }
        </style>
</Layout>