---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Main from "../components/Main.astro";
import Card from "../components/Card.astro";
import Newsletter from "../components/Newsletter.astro";
---

<Layout title="gym3333.">
  <main>
    <div class="bg-gray-100 w-5/6 h-full mx-auto rounded-lg mt-10 mb-10 py-20">
      <Main />
      <hr
        class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-300 to-transparent opacity-25 dark:opacity-100"
      />
      <div class="w-full flex justify-center items-center">
        <Card
          title="Lifestyle"
          price="€19"
          frequency="/month"
          checkOne="Monthly Payment Management"
          checkTwo="24/7 Access Information"
          checkThree="Cancellation Process"
          checkFour="Transparent Pricing"
        />
        <Card
          title="365 Days"
          price="€189"
          frequency="/year"
          checkOne="Automatic Renewal"
          checkTwo="Holiday Closure Notifications"
          checkThree="Refund Policy Details"
          checkFour="Unrestricted Usage"
        />
        <Card
          title="Trial Training"
          price="€9.95"
          frequency="/3 days"
          checkOne="Quick Activation"
          checkTwo="Expiration Alerts"
          checkThree="Cancellation Instructions"
          checkFour="Access to Amenities"
        />
      </div>
      <hr
        class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-300 to-transparent opacity-25 dark:opacity-100"
      />
      <Newsletter />
      
    </div>
  </main>
</Layout>
