---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Privacy Policy">
    <div class="bg-gray-100 w-5/6 mx-auto py-16 my-6 rounded-xl">
        <div class="block rounded-3xl bg-gray-900 text-white py-16">
            <header>
                <h1>Privacy Policy</h1>
            </header>
            
            <section>
                <h2>Information We Collect</h2>
                <p>We collect and store the information you provide during the login process. This may include your username and password.</p>
            </section>
            
            <section>
                <h2>How We Use Your Information</h2>
                <p>The information collected is used solely for the purpose of authenticating your login and ensuring the security of your account.</p>
            </section>
            
            <section>
                <h2>Protection of Your Information</h2>
                <p>We take appropriate measures to protect the confidentiality and security of your information. This includes using encryption for data transmission and secure storage practices.</p>
            </section>
            
            <section>
                <h2>Third-Party Access</h2>
                <p>We do not share your login information with any third parties. Your data is used exclusively for the functioning of our website and is not sold, traded, or otherwise transferred to outside parties.</p>
            </section>
            
            <section>
                <h2>Access and Control</h2>
                <p>You have the right to review, edit, or delete your login information at any time. You can do this by accessing your account settings on our website.</p>
            </section>
            
            <section>
                <h2>Changes to the Privacy Policy</h2>
                <p>We may update our Privacy Policy from time to time. Any changes will be reflected on this page, and users will be notified of any significant modifications.</p>
            </section>
            
            <footer>
                <p>By using our website, you consent to our Privacy Policy. If you have any questions or concerns regarding your privacy, please contact us at [your contact information].</p>
            </footer>
        </div>
    </div>
</Layout>

<style>
    div {
        padding-inline: 6rem;
        position: relative;
    }
    section {
        margin-block: 2rem;
    }
    h1 {
        font-weight: bold;
        font-size: 1.5rem;
        color: #fdd308;
    }
    h2 {
        font-weight: bold;
    }
</style>
