---
import LocationCard from "../components/LocationCard.astro"
---

<div class="bg-gray-100 w-5/6 mx-auto py-16 my-6 rounded-xl">
	<div class="grid grid-rows-3 gap-4 mx-auto w-4/6">
		<LocationCard
		gym="GYM!Origo"
		address="Stacijas laukums 2, Centra rajons, Rīga, LV-1050, Letonia"/>
		<LocationCard
		gym="GYM!Imanta"
		address="Kurzemes prospekts 3, Kurzemes rajons, Rīga"/>
		<LocationCard
		gym="GYM!Olimpia"
		address="Āzenes iela 5, Kurzemes rajons, Rīga"/>
	</div>
</div>