---

---

<div
	class="mx-44 grid grid-cols-2 gap-2 rounded-3xl bg-gray-900 pl-6 pt-0 shadow-2xl h-[30vw]"
>
	<!-- First column -->
	<div
		class="my-auto ml-4 flex h-96 flex-col justify-center p-6 col-span-2 lg:col-span-1"
	>
		<!-- title -->
		<h2 class="mb-4 font-bold text-white text-[1.5vw] line-clamp-1">
			Elevate Your Fitness Journey
		</h2>

		<!-- short description -->
		<p class="mb-4 max-w-lg sm:max-xl:leading-6 leading-7 text-white text-[1vw] xl:text-[1.1vw]">
			Sign up now for exclusive access to our facilities and personalized training programs.
		</p>

		<!-- button -->
		<a
			href="/register"
			class="w-32 rounded-md bg-ten px-6 py-3 mt-4 text-center text-sm font-semibold text-gray-900 shadow-sm duration-300 ease-in-out hover:opacity-80"
		>
			Get started
		</a>
	</div>

	<!-- Second column -->
	<div class="bottom-0 flex">
		<img
			src="image.jpg"
			alt="Image Description"
			class="rounded-r-3xl object-cover hidden lg:flex"
		/>
	</div>
</div>