---

---

<div class="w-5/6 mx-auto mt-6 rounded-xl bg-gray-100 hidden xl:flex">
  <nav class="w-4/5 flex mx-auto mt-6 rounded-3xl bg-gray-900 mb-6">
    <div class="w-full mx-auto px-8 py-2 flex justify-between items-center">
      <ul class="flex space-x-4">
        <li class="text-base font-semibold leading-6 text-white">
          <a
            class="rounded-full p-2 px-3 hover:bg-[var(--ten)] hover:text-gray-900 ease-in-out duration-300 text-[1.3vw] lg:text-[1.2vw] 2xl:text-[0.9vw]"
            href="/">GYM!</a
          >
        </li>
        <li class="text-base font-semibold leading-6 text-white">
          <a
            class="rounded-full p-2 px-3 hover:bg-[var(--ten)] hover:text-gray-900 ease-in-out duration-300 text-[1.3vw] lg:text-[1.2vw] 2xl:text-[0.9vw]"
            href="/memberships">Memberships</a
          >
        </li>
        <li class="text-base font-semibold leading-6 text-white">
          <a
            class="rounded-full p-2 px-3 hover:bg-[var(--ten)] hover:text-gray-900 ease-in-out duration-300 text-[1.3vw] lg:text-[1.2vw] 2xl:text-[0.9vw]"
            href="/locations">Locations</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a href="/">
            <img
              src="/gym-logo.webp"
              alt="Gym Logo"
              class="flex mr-24 w-22 h-12 rounded-full p-2 px-3 group sm:max-lg:hidden"
            />
          </a>
        </li>
      </ul>
      <ul class="flex space-x-4">
        <li class="text-base font-semibold leading-6 text-white">
          <a
            class="rounded-full p-2 px-3 hover:bg-[var(--ten)] hover:text-gray-900 ease-in-out duration-300 line-clamp-1 text-[1.3vw] lg:text-[1.2vw] 2xl:text-[0.9vw]"
            href="/register">Register</a
          >
        </li>
        <li class="text-base font-semibold leading-6 text-white">
          <a
            class="rounded-full p-2 px-3 hover:bg-[var(--ten)] hover:text-gray-900 ease-in-out duration-300 line-clamp-1 text-[1.3vw] lg:text-[1.2vw] 2xl:text-[0.9vw]"
            href="/login">Log in</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<style>
  li img {
    cursor: pointer;
  }
</style>
