---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Unlocking the Power of Cardio Workouts">
    <div class="bg-gray-100 w-5/6 mx-auto py-16 my-6 rounded-xl">
        <div
    class="block rounded-3xl bg-gray-900 text-white py-16"
  >
        <header>
            <a href="../blog">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 21a9 9 0 1 0 0 -18a9 9 0 0 0 0 18" /><path d="M8 12l4 4" /><path d="M8 12h8" /><path d="M12 8l-4 4" /></svg>
            </a>
            <h1>Benefits of Cardio Workouts</h1>
        </header>
    
        <section>
            <h2>1. Improved Heart Health</h2>
            <p>Cardiovascular exercises strengthen the heart, allowing it to pump blood more efficiently and reducing the risk of heart diseases.</p>
        </section>
    
        <section>
            <h2>2. Weight Management</h2>
            <p>Cardio workouts help burn calories and contribute to weight loss or weight maintenance when combined with a healthy diet.</p>
        </section>
    
        <section>
            <h2>3. Increased Lung Capacity</h2>
            <p>Engaging in aerobic activities improves lung function and capacity, enhancing overall respiratory health.</p>
        </section>
    
        <section>
            <h2>4. Stress Reduction</h2>
            <p>Cardiovascular exercises release endorphins, which act as natural stress relievers, promoting a positive mood and reducing stress levels.</p>
        </section>
    
        <section>
            <h2>5. Better Sleep</h2>
            <p>Regular cardio workouts can improve sleep quality, helping individuals fall asleep faster and enjoy deeper, more restorative sleep.</p>
        </section>
    
        <section>
            <h2>6. Increased Energy Levels</h2>
            <p>Cardiovascular activities boost overall energy levels, making everyday tasks feel more manageable and improving overall vitality.</p>
        </section>
    
        <section>
            <h2>7. Enhanced Mental Well-being</h2>
            <p>Cardio exercises contribute to improved cognitive function, reduced symptoms of anxiety and depression, and a sharper mind.</p>
        </section>
    
        <footer>
            <p>Remember to consult with a healthcare professional before starting any new exercise program, especially if you have existing health conditions.</p>
        </footer>
        </div>
    </div>
</Layout>

<style>
    div {
        padding-inline: 6rem;
        position: relative;
    }
    section {
        margin-block: 2rem;
    }
    h1 {
        font-weight: bold;
        font-size: 1.5rem;
        color: #fdd308;
    }
    svg {
        position: absolute;
        top: 1em;
        left: 1em;
    }
</style>