---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Healthy Eating for Fitness">
    <div class="bg-gray-100 w-5/6 mx-auto py-16 my-6 rounded-xl">
        <div class="block rounded-3xl bg-gray-900 text-white py-16">
            <header>
                <a href="../blog">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 21a9 9 0 1 0 0 -18a9 9 0 0 0 0 18" /><path d="M8 12l4 4" /><path d="M8 12h8" /><path d="M12 8l-4 4" /></svg>
                </a>
                <h1>Healthy Eating for Fitness</h1>
            </header>
            
            <section>
                <h2>1. Balanced Nutrition</h2>
                <p>Eating a balanced diet with the right mix of proteins, carbohydrates, and fats is essential for supporting your fitness goals and overall well-being.</p>
            </section>
            
            <section>
                <h2>2. Adequate Hydration</h2>
                <p>Staying hydrated is crucial for optimal performance during workouts. Drink enough water and consider incorporating hydrating foods into your diet.</p>
            </section>
            
            <section>
                <h2>3. Nutrient Timing</h2>
                <p>Timing your meals around your workout sessions can enhance energy levels and recovery. Focus on pre-workout and post-workout nutrition to maximize benefits.</p>
            </section>
            
            <section>
                <h2>4. Vitamins and Minerals</h2>
                <p>Ensure you get a variety of vitamins and minerals from fruits, vegetables, and supplements if needed. They play a key role in supporting your body's functions.</p>
            </section>
            
            <section>
                <h2>5. Mindful Eating</h2>
                <p>Practicing mindful eating can help you develop a healthier relationship with food, prevent overeating, and improve digestion.</p>
            </section>
            
            <footer>
                <p>Remember, a combination of regular exercise and a healthy diet is the key to achieving and maintaining fitness goals.</p>
            </footer>
        </div>
    </div>
</Layout>

<style>
    div {
        padding-inline: 6rem;
        position: relative;
    }
    section {
        margin-block: 2rem;
    }
    h1 {
        font-weight: bold;
        font-size: 1.5rem;
        color: #fdd308;
    }
    svg {
        position: absolute;
        top: 1em;
        left: 1em;
    }
</style>
